@import '../../../styles/variables.scss';
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;
    // background-color: $bg-primary;
    .containerCards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
      
        width: 100%;
        height: 100;
    }
    // .containerNotices {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-between;
    //     width: 100%;
    //     height: 100%;
    // }
    .containerPlayList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        // background-color: $bg-secondary;
    }
}

@media (min-width: 767px) {
    .container {
        .containerNotices {
            width: 100%;
            height: 100%;
            // background-color: aqua;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin: 1rem;
            justify-content: space-between
        }
    }
}