
@import "../../styles/variables.scss";
.formulario {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    .containerButtons {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }
}