@import '../../../../styles/variables.scss';

.container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // padding: 10px;
    // background-color: $bg-tertiary;
    width: 100%;
    height: 100%;
    .header {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        width: 100%;
        height: 100%;
        
        h2 {
            font-size: $font-size-base;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        width: 100%;
        // border: 1px solid yellow;
        height: 100%;
        .containerVideo {
            // background-color: aqua;
            width: 100%;
            height: 100%;
        }
        .containerInfo {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;
            border: 0px 1px 1px 1px solid;
            border-color: #BF92FFAD;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            // background-color: red;
            padding: 1rem;
            .containerInfoDescription{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                // background-color: aqua;
                h3 {
                    font-size: $font-size-sm;
                    font-weight: 600;
                    color: $text-primary;
                }
           
                .tone {
                    font-size: $font-size-base;
                    font-weight: 400;
                    color: #f7a017;
                }
            }
            .containerInfoButton {
                // background-color: $bg-primary;
                > button {
                    background-color: #6200fc;
                    border-radius: 100%;
                    width: 3rem;
                    height: 3rem;
                    border: none;
                }
            }
                
        }
    }
}
