@import '../../../../styles/variables.scss';

.container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    // background-color: $bg-tertiary;
    width: 100%;
    height: 100%;
    .header {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        width: 100%;
        height: 100%;
        
        h2 {
            font-size: $font-size-base;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        width: 100%;
        // border: 1px solid yellow;
        height: 100%;
        .containerVideo {
            width: 100%;
            aspect-ratio: 16/9; // Isso substitui o padding-bottom hack
            position: relative;
            background-color: #f7a017;
            border-radius: 10px 10px 10px 10px; // Mova o border-radius para o container
            overflow: hidden; // Isso garante que o iframe respeite o border-radius
            > iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
        .containerInfo {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;
            border-top: none;
            border-right: 1px solid #BF92FFAD;
            border-bottom: 1px solid #BF92FFAD;
            border-left: 1px solid #BF92FFAD;
            width: 100%;
            height: 100%;
            border-radius: 0px 0px 10px 10px;
            padding: 1rem;
            .containerInfoDescription{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                // background-color: aqua;
                h3 {
                    font-size: $font-size-sm;
                    font-weight: 600;
                    color: $text-primary;
                }
           
                .tone {
                    font-size: $font-size-base;
                    font-weight: 400;
                    color: #f7a017;
                }
            }
            .containerInfoButton {
                display: flex;
                flex-direction: column;
                > button {
                    background-color: #6200fc;
                    border-radius: 100%;
                    width: 3rem;
                    height: 3rem;
                    border: none;
                }
            }
                
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        .header {
            h2 {
                font-size: $font-size-lg;
            }
        }
        .content {
            
            .containerVideo {
                aspect-ratio: 16/9; // Isso substitui o padding-bottom hack
                > iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            .containerInfo {
              
           
                .containerInfoDescription {
                    justify-content: end;
                    
                    h3 {
                        font-size: $font-size-lg;
                    }
                    p {
                        font-size: $font-size-base;
                    }
                    .tone {
                        font-size: $font-size-lg;
                    }
                }
                .containerInfoButton {
                    
                    width: 100%;
                    height: 100%;
                    justify-content:flex-end;
                    align-items: self-end;
                    > button {
                        font-size: $font-size-lg;
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }
    }
}