.containerNotifications {
    .notifications {
        background-color: #3232327D;
        border-radius: 50%;
        cursor: pointer;
        color: #FFFFFF;
    }
    .notificationsNone {
        background-color: #3232327D;
        border-radius: 50%;
        cursor: pointer;
        color: #FFFFFF;
    }

    .notificationsOff {
        background-color: #3232327D;
        border-radius: 50%;
        cursor: pointer;
        color: #FFFFFF;
    }
    
}