.containerHeader   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    // background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    margin: 0 2rem 0 0;
    .containerNotifications {
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content:flex-end;
        width: 100%;
        height: 100%;
   
    }
}

@media screen and (min-width: 768px) {
    .containerHeader {
        // background-color: aquamarine;
        .containerNotifications {
            width: 20%;
            height: 100%;
        }
    }
}