.containerNotifications {
    background-color: #3232327D;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .buttonNotification{

        background-color: transparent;
        border: none;
        .notifications {
            cursor: pointer;
            color: #FFFFFF;
            background-color: transparent;
        }
        .notificationsNone {
            background-color: transparent;
            // border-radius: 50%;
            cursor: pointer;
            color: #FFFFFF;
        }
        
        .notificationsOff {
            background-color: transparent;
            // background-color: #3232327D;
            // border-radius: 50%;
            cursor: pointer;
            color: #FFFFFF;
        }
    }
    
}

@media screen and (min-width: 768px) {
    .containerNotifications {
        .notifications {
           
        }
    }
}